@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Farm Genetics and Health Management System</h1>
    <p class="lead">We at FGHMS strive to provide Farmers with a powerful easy to use
     management system to monitor herd health, gauge productivity, measure genetic 
    management success, and aid in management decisions.</p>

    <p><a href="Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
         this  
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create Farm</h2>
        <p>
            Creating a farm will allow you to track the health of your herd and track the genetic Soundness of an
            individual animal compared to the other animals in the herd.
        </p>
        <p><a class="btn btn-default" href="../Farms/Create"> Create Farm &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Animals</h2>
        <p> The animals are the main focus of this site.</p>
        <p><a class="btn btn-default" href="../Animals/Index"> Animals &raquo;</a></p>
    </div>
</div>